@model Todo
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<h4>Create</h4>
    <hr />
    
<form asp-action="Create" class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-auto">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span></div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary mb-3" />
    </div>
</form>

@{
    List<Todo> todos = ViewBag.Todos;
    
 
    
    <h3>Todo List</h3>
    
    foreach (Todo item in todos) //loop through todos
    {
        <div>
          
            <div>Description: @item.Description</div>
            <div>
                @if (@item.Completed) 
                {
                    
                    <span class="badge bg-success">Completed Date: @item.CompletionDate</span>
                }
                else
                {
                    
                    <span class="badge bg-danger">Not Completed</span>
                    <form asp-action="MarkTodo" asp-route-id="@item.Id" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="checkbox" name="todoCompleted" value="true" onclick="this.form.submit();" />
                        Mark Complete
                    </form>
                   
                }
            </div>
            <br/>
            
        </div>
        
        
    }
}

@section Scripts
{
    @Html.RenderPartialAsync("_ValidationScriptsPartial")
}
